/* Maegan Rocero
11/12/2021
styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, ul {
	margin: 0;
	padding: 0;
	border: 0;
}


/* Style rule for images */
img {
	max-width: 100%;
	display: block;
}

/* Style rules for mobile viewport */


/*Hide tab-desk class */
.tab-desk {
	display: none;
}

/* Style rules for header content */
header {
	text-align: center;
	font-size: 1.5em;
	color: #7575cf;
}

header h1 {
	font-family: 'DM Serif Display', serif;
}

/* Style rules for navigation area */
nav {
	background-color: #d5d6ea;
}

nav ul {
	list-style-type: none;
	text-align: center;
}

nav li {
	display: block;
	font-size: 2em;
	border-top: 1px solid #e5e9fc;
}

nav li a {
	display: block;
	color: #7575cf;
	text-align: center;
	padding: 0.5em 1em;
	text-decoration: none;
}

/* Style rules for main content */
main {
	padding: 2%;
	background-color: #e5e9fc;
	overflow: auto;
	font-family: 'Roboto', sans-serif;
}

main p {
	font-size: 1.35em;
}

.action {
	font-size: 1.25em;
	color: #373684;
	font-weight: bold;
}

#lavendertote, #tantote, #bothtotes, #oceancase, #lavendercase, #plumeriacase, #sagecase, #tancase {
	margin: 0 2%;
}

#info {
	clear: left;
	background-color: #c0caf7;
	padding: 1% 2%;
}

#info ul {
	margin-left: 10%;
}

.round {
	border-radius: 8px;
}

#contact {
	text-align: center;
}

.tel-link {
	background-color: #373684;
	padding: 2%;
	margin: 0 auto;
	width: 80%;
	text-align: center;
	border-radius: 5px;
}

.tel-link a {
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
	display: block;
}

h4 {
	text-align: center;
	color: #7575cf;
	font-weight: bold;
	font-size: 1.75em;
}

/* Style rules for form elements */
fieldset, input {
	margin-bottom: 2%;
}

fieldset legend {
	font-weight: bold;
	font-size: 1.25em;
}

label {
	display: block;
	padding-top: 3%;
}

form #submit {
	margin: 0 auto;
	display: block;
	padding: 3%;
	background-color: #7575cf;
	font-size: 1em;
}

/* Style rules for footer content */
footer {
	text-align: center;
	font-size: 1.75em;
	clear: left;
}

footer a {
	color: #4645a8;
	text-decoration: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 550px), print {
	
	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 20px;
	}
	
	.tote-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 20px;
	}

	/*Tablet Viewport: Show tab-desk class, hide mobile class */
	.tab-desk {
		display: block;
	}
	
	.mobile {
		display: none;
	}
	
	/* Tablet Viewport: Style rule for header content */
	span.tab-desk {
		display: inline;
	}
	
	/* Tablet Viewport: Style rules for nav area */
	nav li {
		border-top: none;
		display: inline-block;
		font-size: 1.5em;
		border-right: 1px solid #e5e9fc;
	}
	
	nav li:first-child {
		border-right: none;
	}
	
	nav li a {
		padding: 0.25em 0.5em;
	}
	
	/* Tablet Viewport: Style rule for form element */
	form {
		width: 70%;
		margin: 0 auto;
	}
	
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 769px), print {
	
	/* Desktop Viewport: Style rule for header */
	header {
		padding: 2%;
	}
	
	/* Desktop Viewport: Styles for nav area */
	nav li a {
		padding: 0.5em 1.5em;
	}
	
	nav li a:hover {
		color: #373684;
		background-color: #e5e9fc;
	}
	
	/* Desktop Viewport: Style rules for main content */
	.grid {
		display: grid;
		grid-template-columns: auto auto auto auto;
		gap: 20px;
	}
	
	.tote-grid {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 5% auto;
	}	
	
	
	#info ul {
		margin-left: 5%;
	}
	
	main h3 {
		font-size: 1.5em;
	}
	/*
	#lavendertote, #tantote, #bothtotes, #oceancase, #lavendercase, #plumeriacase, #sagecase, #tancase {
		width: 29%;
		float: left;
		margin: 0 2%;
	}
	*/
	/* Desktop Viewport: Style rules for form elements */
	.form-grid {
		display: grid;
		grid-template-columns: auto auto auto;
		gap: 20px;
	}
	
	.btn {
		grid-column: 1 / span 3;
	}
}

/* Media Query for Print */
@media print {
	
	body {
		background-color: #fff;
		color: #000;
	}
}

/* Styles for greeting*/
h1 {
	font-size: 50px;
	letter-spacing: 2px;
	text-transform: capitalized;
	text-align: center;
}

h2 {
	text-align: center;
}

/*Styles for offer expiration*/
#offerEnds {
	text-align: center;
}

/*Styles for products in contact webpage*/
#products {
	font-size: 1em;
}

/*Styles for sign in*/
input {
	
	padding: .5em;
	text-align: left-align;
	font-size: 0.8em;
}

#formtwo {
	margin-left: 1%;
	
}

/*Styles for dropdown mobile device menu*/
.select-box {
	margin-top: 150px;
	width: 380px;
	position: relative;
}

.select-option {
	position: relative;
	width: 80%;
}

.select-option input{
	width; 100%;
	background-color #fff;
	color: #000;
	border-radius: 7px;
	cursor: pointer;
	font-size: 22px;
	padding: 15px 20px;
	border: 0 !important;
	outline: 0 !important;
}

.select-option:after{
	content: "";
	border-top: 12px solid #000;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -8px;
}

.select-box-content {
	background-color: #fff;
	color: #000;
	border-radius: 7px;
	width: 80%;
	z-index: 999; 
	padding: 20px;
	display: none;
}

.search-box input {
	width: 92%;
	font-size: 17px;
	padding: 15px;
	outline: 0;
	border: 1px solid #b3b3b3;
	border-radius: 5px;
}

.options {
	margin-top: 10px;
	max-height: 250px;
	overflow-y: auto;
	padding: 0;
}

.options li {
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 15px;
	cursor: pointer;
	border-bottom: 1px solid gray;
}

.options li:hover{
	background-color: #99C68E;
}

.select-box.active .select-box-content {
	display: block;
}

.select-box.active .select-option:after {
	transform: rotate(-180deg);
}

.tab-panel {
	display: none;
}

.tab-panel.active {
	display: block;
}
